@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
body{
background-color: rgb(155, 162, 221);
}
header{
        background-color: rgb(105, 115, 189);
        display: flex;
        justify-content: space-evenly;
    text-align: center;
    padding: 5px 20px;
}
.logo{
    display: flex;
    flex-direction: row;
    border-radius: 45px;
<<<<<<< HEAD
    padding-left: 25px;
    width: 120px;

}
header{ background-color: rgb(107, 127, 188);
    text-align: center;

=======
    width: 100px;
>>>>>>> 839b2abd68bdbd0eff661043b17224f739dd4c69
}
nav li{
    display: inline;
    padding: 60px;
    font-size: 25px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover{
color: rgb(113, 209, 216);
    text-decoration: underline;
}
main{
    background-color: aliceblue;
    color: black;
}
.card {
  margin: 20px;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 10px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-overflow: ellipsis;
}
.card img {
  width: 100%;
}
.card-content {
  padding: 5px;
}
.card h1 {
  text-align: center;
  color: rgb(4, 78, 90);
  font-size: 25px;
}
.tarjeta {
  display: flex;
  justify-content: center;
}
.Tarjetatwo{
  display: flex;
  justify-content: center;
}
.card:hover {
  background-color: rgb(115, 188, 206);
  transform: scale(1.05);
}
<<<<<<< HEAD
.color{ text-align: center;
    background-color: rgb(178, 157, 234);
}
.colores{ text-align: center;
    background-color: rgb(131, 121, 201);
}

.colore{
 background-color: #b5b0f8;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  form {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  input {
    font-size: 0.9rem;
  }
=======
footer{
  font-size: 14px;
    text-align: center;
  background-color: rgb(132, 108, 185);
}
footer.two {
  text-align: center;
  background-color: rgb(97, 76, 142);
}
.ima{
  width: 5px;
  display: flex;
  justify-content: center;
  padding: 10px;
>>>>>>> 839b2abd68bdbd0eff661043b17224f739dd4c69
}